

.closeBtn{
    color:white;
    background-color:brown;
    position:absolute;
    top:50%;
    right:2%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    border-radius: 10% 10%;
    display:inline-block;
    padding:4px 8px;    
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;    
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.closeBtn:hover{
    color:white;
    background-color: red;
    transition-duration: 0.5s;
}